<nav class="navbar navbar-expand-lg bg-white navbar-light p-0">
    <a href="{{ path('index') }}" class="navbar-brand d-block d-lg-none">
        <h1 class="m-0 display-4 text-primary text-uppercase">Justice</h1>
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav mr-auto py-0">
            {# HOME #}
            <a href="{{ path('index') }}" 
               class="nav-item nav-link {{ app.request.attributes.get('_route') == 'index' ? 'active' : '' }}">Home</a>
            
            {# ABOUT #}
            <a href="{{ path('about') }}" 
               class="nav-item nav-link {{ app.request.attributes.get('_route') == 'about' ? 'active' : '' }}">About</a>
            
            {# PRACTICE (service.html) #}
            <a href="{{ path('practice') }}" 
               class="nav-item nav-link {{ app.request.attributes.get('_route') == 'practice' ? 'active' : '' }}">Practice</a>
            
            {# ATTORNEYS (team.html) #}
            <a href="{{ path('attorneys') }}" 
               class="nav-item nav-link {{ app.request.attributes.get('_route') == 'attorneys' ? 'active' : '' }}">Attorneys</a>
            
            {# CONTACT #}
            <a href="{{ path('contact') }}" 
               class="nav-item nav-link {{ app.request.attributes.get('_route') == 'contact' ? 'active' : '' }}">Contact</a>
        </div>
        <a href="" class="btn btn-primary mr-3 d-none d-lg-block">Get A Quote</a>
    </div>
</nav>